<h1>Editing Comment</h1>
<% if current_user%>
  <%= render 'form', comment: @comment %>
<% else %>
  <p> You don't have permission to view this page </p>
<% end %>
<%= link_to 'Show', @article %> |
<%= link_to 'Back', article_path(@article) %>
