<!DOCTYPE html>
<html>
<head>
<%= render "header" %>
</head>
<body>



<div class="header">
  <h1>Contact</h1>
  <p>Phone: 000-000-000</p>
  <p>City: City</p>
  <p>Street: street</p>
  <p>Country: Country</p>
</div>

<p class="footer">Krzysztof Rupiński | 2019</p>
</body>
</html>