.Show {
  background-color: #4CAF50;
  color: white;
  display: block;
  font-size: 20px;
  width: 50px;
  } /* Green */


.Edit {
  background-color: #008CBA;
  color: white;
  display: block;
  font-size: 20px;
  width: 100px;
  } /* Blue */

.Destroy {
  background-color: #f44336;
  color: white;
  display: block;
  font-size: 20px;
  width: 100px;
  } /* Red */