// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.header {
  padding: 100px;
  text-align: center;
  background: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: right;
  display: block;
  color: #FEB854;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.name{
  color: #FEB854;
  float: left;
  text-align: left;
  padding: 14px 300px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 260px;
}

img {
  float: left;
}


.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.title{
  padding: 10px;
}

.t1{
  font-weight: bold;
}